@model Presentation.Controllers.UserRegisterByEmployee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Register</title>
        @*<link href="~/Content/loginRegister.css" rel="stylesheet" />*@
    </head>
<body>
<div class="container">
    <div id="register" class="animate form">
        @using (Html.BeginForm("RegisterByEmployee", "Register", FormMethod.Post, new {autocomplete = "on"}))
        {
            <h1> ثبت نام </h1>
            <ul class="info-register">
                <li>نام کاربری را حتما از حروف لاتین استفاده کنید</li>
            </ul>
            <p class="personel-name">
                <label for="usernamesignup" class="personel-name k-rtl">نام برسنلی</label>
                <input style="text-align: right;" type="text" placeholder="نام برسنلی"/>
            </p>
            <p>
                @{
                    var userNameLableAttrs = new Dictionary<string, object> {{"@class", "youpasswd"}, {"data-icon", ""}};
                }
                @Html.LabelFor(m => m.UserName, userNameLableAttrs)
                @Html.TextBoxFor(m => m.UserName, new {placeholder = "User name", id = "username"})
            </p>

            <p>
                @{
                    var passLableAttrs = new Dictionary<string, object> {{"@class", "youpasswd"}, {"data-icon", ""}};
                }
                @Html.LabelFor(m => m.Password, passLableAttrs)
                @Html.TextBoxFor(m => m.Password, new {placeholder = "Password", id = "password"})
            </p>
            <p>
                @{
                    var passConfirmLableAttrs = new Dictionary<string, object> {{"@class", "youpasswd"}, {"data-icon", ""}};
                }
                @Html.LabelFor(m => m.ConfirmPassword, passConfirmLableAttrs)
                @Html.TextBoxFor(m => m.ConfirmPassword, new {placeholder = "Confirm password", id = "confirmPassword"})
            </p>

            <p class="signin button">
                <input type="submit" value="تکمیل ثبت نام"/>
            </p>
            <p class="change_link">
                @Html.ActionLink("نام کاربری دارم", "Index", "Login", new {@class = "to_register"})
            </p>

        }
    </div>
</div>
</body>

</html>